* {
          margin: 0;
          padding: 0;
}

/*===============
# Top header
===============*/

.top--header {
          background-color: dodgerblue;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 15px 0;

}

.quick__links > a  {
text-decoration: none;
color: white;
font-size:18px;
}

.quick__links > a > h4 {
          margin-right: 20px;
}

.top--header > ul {
          margin-right: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          
}

.top--header > ul > li {
          list-style: none;
          margin: 0 5px;
}

.top--header > ul > li > a {
          text-decoration: none;
          color: white;
          
}

.top--header > ul > li > a > i {
color: blue;
padding: 0 5px;
width: 20px;
height: 20px;


}

/*===============
# navigation
===============*/

#navigation {
          background-color: navy;
          display: flex;
          justify-content: space-around;
          align-items: center;
}

.logo__area > img {
          max-width: 100%;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50px;
          
}

#navigation > ul {

          display: flex;

}

#navigation > ul > li {
          list-style: none;
          margin: 0 15px;
          padding: 20px;        
}

#navigation > ul > li > a {
          text-decoration: none;
          color: #fff;        
}

#navigation > .btn {
          display:flex;
          padding: 0 10px;
          border-radius: 8px;
          border: none;
          
          
          
}

#navigation > .btn > a {
         padding: 5px;
         text-decoration: none;
         color: dodgerblue
}
