* {
          margin:0;
          padding: 0;
}

/*=========
# header
=========*/

.navigation {
          display: flex;
          justify-content: space-between;
          box-shadow: 5px 0px 0.5px black;
          background: linear-gradient(dodgerblue, rgb(21, 77, 133));
          align-items: center; /* vertical alignment */
}

.navigation__logo-area > h2 {
          margin-left: 50px;
          color: white;
}

.navigation__items-area > ul {
          display: flex;
          margin-right: 50px;
}

.navigation__items-area > ul > li {
          list-style: none;
          margin: 0 5px;
          margin-left: -5px;
          padding: 15px 0;
          
}

.navigation__items-area > ul > li > a {
          border-right: 1px solid white;
          padding: 16px 20px;
}

.navigation__items-area > ul > li:first-child > a {
          border-left: 1px solid white;
          
}

.navigation__items-area > ul > li:hover > a {
          background-color: lightblue;
          transition: 0.5s;
}

.navigation__items-area > ul > li > a {
          text-decoration: none;
          color: white;
}

/*=========
# dropdown
=========*/

.dropdownMenu {
          position: absolute;
          background-color: dodgerblue;
          width: 160px;
          margin-top: 15px;
          opacity: 0;
          visibility: hidden;
          transform: scaleY(0);
          transition: 0.5s;
          box-shadow: 2px 2px 5px black;
}

.dropdownMenu > li {
          list-style: none;
          text-align: center;
          padding: 15px 20px;
          border-bottom: 1px solid white;
          
}

.dropdownMenu > li:first-child {
          border-top: 1px solid white;
}

.dropdownMenu > li:hover {
          background-color: lightblue;
          transition: 0.5s;
          
}

.dropdownMenu > li > a {
          text-decoration: none;
          color: white;
          
          
}

.navigation__items-area > ul > li:hover > .dropdownMenu {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          
}

/*=========
# hero area
=========*/

.main__header {
          text-align: center;
          background-image: url("../img/download.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100vh;
}

.hero__container {
          padding-top: 100px;
}

.hero__container > h1 {
          color: white;
}